# Manuscript Title

<!--
Welcome to Lumina! Edit your manuscript prose in this file.
All manuscript metadata and settings reside in metadata.yaml.
-->

Write your abstract here.

## Introduction

Start writing your introduction...
